.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}

.products-section h4 {
  margin: 30px 0 30px 30px;

}

.product img {
  width: 160px !important;
  height: 160px !important;
  margin: 7px auto 30px auto;
  object-fit: cover;

}
.product a{
  text-decoration: none;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product button {
  border-radius: 0 0 20px 20px;
  background-color: var(--main-color);
  border: none;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  color: var(--secondary-color);
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

.product .name {
  padding: 5px 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;


}

.product .price {
  padding: 0 17px;
  color: var(--main-color);
  margin: 16px 0 30px 0;
  font-weight: 700;

}

.describtion {
  width: 90%;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  
  color: #B6B6B6;
  padding: 0 17px;

}
.notAvailable{
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
}
.product{
  position: relative;
}
#edit-product{
  position: absolute;
  top: -17px;
  width: 25px !important;
  height: 25px !important;
  right: 8px;
}