.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}

.products-section h4 {
  margin: 30px 0 30px 30px;

}

.product img {
  width: 160px !important;
  height: 160px !important;
  margin: 7px auto 30px auto;
  border-radius: 20px 20px 0 0;
  object-fit: cover;

}
.product a{
  text-decoration: none;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product button {
  border-radius: 0 0 20px 20px;
  background-color: var(--main-color);
  border: none;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  width: 100%;
  font-size: 13px;
  color: var(--secondary-color);
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

.product .name {
  padding: 5px 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;


}

.product .price {
  padding: 0 17px;
  color: var(--main-color);
  margin: 16px 0 30px 0;
  font-weight: 700;

}

.describtion {
  width: 90%;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  
  color: #B6B6B6;
  padding: 0 17px;

}
.notAvailable{
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
}
.start-new-cart{
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.61);
  z-index: 25;
  /* display: flex;
align-items: center;
justify-content: center; */

}
.confirm-massage{
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 40%;
  padding: 40px 30px;
  border-radius: 12px;
  transform: translate(-50%);
  width: 80%;
  gap: 25px;
}
.confirm-massage h3{
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
}
.confirm-massage p{
  font-weight: 600;
  font-size: 14px;
  /* line-height: 17px; */
}
.confirm-massage div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
 
}
.confirm-massage div button{
  background-color: white;
  border: none;
  color: var(--main-color);
  width: 60px !important;
}
#edit-product{
  position: relative;
  top: -325px;
  width: 25px !important;
  height: 25px !important;
  right: -124px;
}
.active-confirm{
  display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.562);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.active-succuss-msg{
  display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background: rgba(47, 45, 56, 0.01);
    backdrop-filter: blur(5px);    width: 100%;
    height: 100%;
    width: 100%;
    right: 0;
}
.Successfuly{margin: auto;}
@media (min-width: 700px) {
  .confirm-massage{
    width: 400px;
  }
}
