.icon-list{
  width: 25px;
  padding-bottom: 4px;
}
.profile{
  width: 100%;
  position: relative;  padding-bottom: 50px;

}
.caver-profile{
  width: 100%;
  border-radius: 0 0 20px 20px;
  object-fit: cover;
}
.brand-img{
  width: 25vw;
  height: auto;
  object-fit:contain ;
filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}
.control-list{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 26px;
  bottom: 1vh;
  z-index: 10;
}
.grid-items{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  justify-content: space-evenly;
}
.grid-item{
    margin-bottom: 20px;
    /* padding-bottom: 12px; */
}
.list-items{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px;
}
.list-item{
  display: flex;
  align-items: center;
  gap: 15%;
  justify-content: space-between;
  padding: 15px 15px 15px 5px;

}
.list-item a{
  box-shadow: none;
  border: none;
}
.grid-item a{
  box-shadow: none;
  border: none;

}
.list-item section{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-item img{
  width: 120px;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;

}
.profile-product{
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  text-decoration: none;
  color: black;
}
.profile-product .name{
  font-weight: 600;
font-size: 16px;
line-height: 17px;
}
.profile-product .describtion{
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  
  color: #B6B6B6;
}
.profile-product .price{
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3351A6;
}
.grid-item img{
  margin: 0px auto 15px auto;
  width: 160px;
height: 160px;
border-radius: 20px 20px 0 0;
object-fit: cover;

}
.grid-item section{
  padding: 0 16px 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.back-to-home{
  position: absolute;
  top: 20px;
  left: 10px;
}
.back-to-home img{
  width: 30px;

}
.add-product-from-store{
  background: #3351A6;
border-radius: 0px 0px 20px 20px;
font-weight: 600;
font-size: 13px;
line-height: 16px;
border: none;
color: #FFFFFF;
width: 100%;
padding: 14px;
}
.add-product-from-store-icon{
  width: 30px !important;
  height: 30px !important;
  border-radius: 0 !important;
  top: 16px;
  right: 15px;
}
.active-massage-in-profile{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.61);
  right: 0;
  z-index: 10;
  top: 0;
}
@media (min-width: 767px) {
  .list-item{
    width: 450px;
  }
.list-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
margin: auto;
gap: 20px;
}
}