.swiper {
  position: relative;
  height: 24vh;
  z-index: 1;
  overflow-x: scroll;
overflow-y: hidden;
  width: 100vw;
  margin-top: 70px;

}
.swiper::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.swiper::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
  /* color of the tracking area */
}

.swiper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgba(255, 166, 0, 0);
  /* creates padding around scroll thumb */
}
.slider{
  height: 100%;
}
.slider img{
  width: 100%;
  height: 24vh;
  object-fit: cover;
}



@media (min-width: 767px) {
  .swiper {
    height: 70vh;
  }
  .slider img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
}